.grid {
  display: grid;
  height: 100%;
  grid-template-rows: min-content 1fr min-content;
  position: fixed;
  width: 100%;
}

.grid:has(> :nth-child(4)) {
  grid-template-rows: min-content min-content 1fr min-content;
}
